
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Music-shop</title>

    <link href="../vinyl.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="wrapper">

    <div id="menu">

        <ul>
            <li><a href="/" class="current">Main</a></li>
            <li><a href="buy">Buy</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>

    </div>

    <div id="left_column">

        <div id="header">

            <div id="site_title">
                <h1><a>Exclusive <strong>Vinyls</strong><span>Buy right now!</span></a></h1>
            </div>

        </div>

        <div id="sidebar">

            <div id="rss">


            </div>

            <h4>Categories</h4>
            <ul class="list">
                <li><a>Pop music</a></li>
                <li><a>Alternative music</a></li>
                <li><a>Rap music</a></li>
                <li><a>Rock music</a></li>

            </ul>

            <div class="cleaner_h40"></div>

            <h4>HITS</h4>
            <ul class="list">
                <li><a>Youngblood - 5 Seconds Of Summer</a></li>
                <li><a>SOUR - Olivia Rodrigo</a></li>
                <li><a>Dawn FM - The Weeknd</a></li>
                <li><a>The Serch - NF</a></li>
                <li><a>30 - Adele</a></li>
                <li><a>Fine Line - Harry Styles</a></li>
                <li><a>Wiped Out! - The Neighbourhood</a></li>

            </ul>

        </div>

    </div>

    <div id="right_column">

        <div id="main">

            <div class="post_section">


                <h2>Music-shop</h2>



                <img src="../images/img1.jpg" width="500" height="300" alt="image">

                <p>Our goal is to enable our customers and music lovers to buy discs, provide the best service using information technology</p>
                <p>Whether you are re a long-time vinyl purist or have just discovered the wonders of the format. We have you covered with a selection of records from artists of all genres and eras.</p>
                <p> The online store will be made by us to enable customers to buy music-related products from home and make it accessible to all music lovers. For example, you want to buy a vinyl record, but finding them in your country is very difficult, and looking for the problem is very difficult and takes a lot of time. Customers acquire one click on our website. We create a website with a huge interface and features. It will be enough to open our site in any case to make a purchase.</p>

            </div>

            <div class="comment_tab">






            </div>

            <div id="comment_form">
                <h3>Message us</h3>

                <form action="#" method="post">
                    <div class="form_row">
                        <label><strong>Full Name</strong></label>
                        <br />
                        <input type="text" name="name" />
                    </div>
                    <div class="form_row">
                        <label><strong>Email</strong></label>
                        <br />
                        <input type="text" name="name" />
                    </div>
                    <div class="form_row">
                        <label><strong>Message</strong></label>
                        <br />
                        <textarea  name="message" rows="" cols=""></textarea>
                    </div>
                    <input type="submit" name="Submit" value="Submit" class="submit_btn" />
                </form>

            </div>

        </div>

        <div class="cleaner"></div>
    </div>

    <div class="cleaner_h20"></div>



    <div class="cleaner"></div>
</div>

</body>
</html>